BIFROST_AUTH_ENABLED="true"
BIFROST_ADMIN_USERNAME="admin"
BIFROST_ADMIN_PASSWORD=""
BIFROST_MASTER_KEY="sk-bf-xxx"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""

ANTHROPIC_API_KEY=""

POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="bifrost"
POSTGRES_USER=""
POSTGRES_PASSWORD=""

MODELARK_API_KEY=""